/* Smooth Scroll Activation */
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f5f9;
    color: #334155;
    padding-bottom: 80px;
}